<div className="wrapper">
    <div className="main">
        <div class="container content panel">
            <div class="panel">
                <h1 className="title">Welcome to flight centre</h1>
            </div>
            <div className="form-container panel">
                <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
                    <div formGroupName="searchGroup">
                        <div class="row">
                            <div class="col-sm-1 form-group">
                                <label class="form-label" for="departureAirport">{{ 'DEPATURE' | translate }}:</label>
                            </div>
                            <div class="col-sm-2 form-group field">
                                <input type="text" id="departureAirport" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && controls.departureAirport.invalid }"
                                    formControlName="departureAirport" placeholder="{{ 'AIRPORT' | translate }}" />

                                <div *ngIf="submitted && controls.departureAirport.invalid" class="invalid-feedback">
                                    <div *ngIf="controls.departureAirport.errors.required">
                                        {{ 'ValidationMessages.DepartureAirportRequired' | translate }}
                                    </div>
                                    <div
                                        *ngIf="!controls.departureAirport.errors.required && controls.departureAirport.errors.pattern">
                                        {{ 'ValidationMessages.DepartureAirport3Characters' | translate }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 form-group field">
                                <div class="input-group">
                                    <input id="departureDate" formControlName="departureDate" class="form-control"
                                        ngbDatepicker #d1="ngbDatepicker" [minDate]="minDate" placeholder="dd/mm/yyyy"
                                        [ngClass]="{ 'is-invalid': submitted && controls.departureDate.invalid }" />
                                    <button class="btn btn-default" (click)="d1.toggle();" type="button"><i
                                            class="fa fa-calendar"></i></button>
                                    <div *ngIf="submitted && controls.departureDate.invalid" class="invalid-feedback">
                                        <div *ngIf="controls.departureDate.errors.required">
                                            {{ 'ValidationMessages.DepartureDateRequired' | translate }}
                                        </div>
                                        <div *ngIf="controls.departureDate.errors.dateFormat">
                                            {{ 'ValidationMessages.InvalidDate' | translate }}
                                        </div>
                                        <div *ngIf="controls.departureDate.errors.beforeToday">
                                            {{ 'ValidationMessages.DepartureDateMustNotBeforeToday' | translate }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1 form-group">
                                <label class="form-label" for="arrivalAirport">{{ 'ARRIVAL' | translate }}:</label>
                            </div>
                            <div class="col-sm-2 form-group field">
                                <input type="text" id="arrivalAirport" class="form-control"
                                    formControlName="arrivalAirport" placeholder="{{ 'AIRPORT' | translate }}"
                                    [ngClass]="{ 'is-invalid': submitted && controls.arrivalAirport.invalid }" />

                                <div *ngIf="submitted && controls.arrivalAirport.invalid" class="invalid-feedback">
                                    <div *ngIf="controls.arrivalAirport.errors.required">
                                        {{ 'ValidationMessages.ArrivalAirportRequired' | translate }}
                                    </div>
                                    <div
                                        *ngIf="!controls.arrivalAirport.errors.required && controls.arrivalAirport.errors.pattern">
                                        {{ 'ValidationMessages.ArrivalAirport3Characters' | translate }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 form-group field">
                                <div class="input-group">
                                    <input id="returnDate" formControlName="returnDate" class="form-control"
                                        ngbDatepicker #d2="ngbDatepicker" [minDate]="minDate" placeholder="dd/mm/yyyy"
                                        [ngClass]="{ 'is-invalid': submitted && controls.returnDate.invalid }" />
                                    <button class="btn btn-default" (click)="d2.toggle();" type="button"><i
                                            class="fa fa-calendar"></i></button>
                                    <div *ngIf="submitted && controls.returnDate.invalid" class="invalid-feedback">
                                        <div *ngIf="controls.returnDate.errors.required">
                                            {{ 'ValidationMessages.ReturnDateRequired' | translate }}
                                        </div>
                                        <div *ngIf="controls.returnDate.errors.dateFormat">
                                            {{ 'ValidationMessages.InvalidDate' | translate }}
                                        </div>
                                        <div *ngIf="controls.returnDate.errors.beforeToday">
                                            {{ 'ValidationMessages.ReturnDateMustNotBeforeToday' | translate }}
                                        </div>
                                        <div *ngIf="controls.returnDate.errors.beforeDate">
                                            {{ 'ValidationMessages.ReturnDateMustNotBeforeDepatureDate' | translate }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <button *ngIf="!inProgress; else SearchInProgress"
                                    class="btn btn-primary mr-1">{{ 'SEARCH' | translate }}</button>
                                <ng-template #SearchInProgress>
                                    <button class="btn btn-primary" [disabled]="true">
                                        {{ 'SEARCH' | translate }}
                                        <span class="fa fa-refresh fa-spin fa-1x fa-fw"></span>
                                    </button>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-sm-10" style="margin-left: -15px">
                    <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
                </div>
            </div>
        </div>
    </div>
</div>